This script combines the different csv files of data and forms a single csv file sorted according to the year

In [1]:
import os
import glob
import pandas as pd
os.chdir("Data")

In [2]:
extension = 'csv'
all_filenames = [i for i in glob.glob('*.{}'.format(extension))]

In [13]:
#print(len(all_filenames))

569

In [6]:
ls=[pd.read_csv(f) for f in all_filenames]
df=pd.concat(ls)

In [7]:
print(df.shape)
#print(df.head)
#print(df.describe)
#print(df.head)
#df.columns=df.columns.str.strip() #to remove white space in columns
#print(df.columns)
#df=df.sort_values(by=['STATE', 'DISTRICT', 'WLCODE'], axis=0)

(357880, 14)

In [8]:
#export to csv
df.to_csv( "CombinedData.csv", index=False, encoding='utf-8-sig')

In [9]:
df=pd.read_csv("CombinedData.csv")

In [10]:
df.columns=df.columns.str.strip() #to remove white space in columns
df=df.sort_values(by=['YEAR_OBS','STATE', 'DISTRICT', 'WLCODE'], axis=0)

In [11]:
df.head()

,STATE,DISTRICT,TEH_NAME,BLOCK_NAME,LAT,LON,SITE_NAME,SITE_TYPE,WLCODE,YEAR_OBS,MONSOON,POMRB,POMKH,PREMON
79074,HR,Mahendragarh,Behror,Ateli,28.062500,76.250000,Kanhawas,Tube Well,W13605,1994,29.97,'0,29.23,'0
84137,JK,Data Not Available,Akhnoor,Akhnoor,32.850000,74.454167,Palanwala,Dug Well,W01683,1994,1.17,1.35,1.52,'0
85480,JK,Jammu,Akhnoor,Akhnoor,32.805556,74.562500,Bakore,Dug Well,W01674,1994,2.73,4.17,3.76,'0
85491,JK,Jammu,Akhnoor,Akhnoor,32.855556,74.658333,Devipura,Dug Well,W01676,1994,3.32,6.26,5.3,'0
85481,JK,Jammu,Akhnoor,Akhnoor,32.806944,74.541111,Dhanpur,Dug Well,W01677,1994,2.49,4.49,3.68,'0

In [12]:
df.drop(df[df['YEAR_OBS'] < 1996].index, inplace = True)

In [13]:
df.head
df.shape

(355279, 14)

In [14]:
df.to_csv("Data.csv", index=False, encoding='utf-8-sig')