This script combines the different csv files of data and forms a single csv file sorted according to the year

In [1]:
import os
import glob
import pandas as pd
os.chdir("Data")

In [2]:
#extension = 'csv'
#all_filenames = [i for i in glob.glob('*.{}'.format(extension))]

In [13]:
#print(len(all_filenames))

569

In [45]:
#ls=[pd.read_csv(f) for f in all_filenames]
#df=pd.concat(ls)

In [46]:
#print(df.shape)
#print(df.head)
#print(df.describe)
#print(df.head)
#df.columns=df.columns.str.strip() #to remove white space in columns
#print(df.columns)
#df=df.sort_values(by=['STATE', 'DISTRICT', 'WLCODE'], axis=1)

(357880, 14)
<bound method NDFrame.head of      STATE       DISTRICT         TEH_NAME         BLOCK_NAME        LAT  \
0       AP  East Godavari      Rajanagaram        Rajanagaram  16.944444
1       AP  East Godavari  Rampachodavaram    Rampachodavaram  17.460278
2       AP  East Godavari      Kotananduru        Kotananduru  17.448611
3       AP  East Godavari      Kotananduru        Kotananduru  17.448611
4       AP  East Godavari      Kotananduru        Kotananduru  17.376111
5       AP  East Godavari      Kotananduru        Kotananduru  17.376111
6       AP  East Godavari       Gangavaram     Gangavaram_egd  17.387500
7       AP  East Godavari       Gangavaram     Gangavaram_egd  17.387500
8       AP  East Godavari       Gangavaram     Gangavaram_egd  17.526389
9       AP  East Godavari     Rajavommangi       Rajavommangi  17.575278
10      AP  East Godavari       Addatigala         Addatigala  17.438333
11      AP  East Godavari       Addatigala         Addatigala  17.438333
12      AP  East Godavari       Addatigala         Addatigala  17.502500
13      AP  East Godavari       Addatigala         Addatigala  17.502500
14      AP  East Godavari      Y.ramavaram        Y.ramavaram  17.618611
15      AP  East Godavari      Y.ramavaram        Y.ramavaram  17.659167
16      AP  East Godavari      Y.ramavaram        Y.ramavaram  17.659167
17      AP  East Godavari     Rajavommangi       Rajavommangi  17.575278
18      AP  East Godavari     Rajavommangi       Rajavommangi  17.582500
19      AP  East Godavari      Y.ramavaram        Y.ramavaram  17.618611
20      AP  East Godavari       Peddapuram        Samarlakota  17.045278
21      AP  East Godavari       Peddapuram        Samarlakota  17.045278
22      AP  East Godavari       Rangampeta          Rangampet  17.088333
23      AP  East Godavari       Rangampeta          Rangampet  17.088333
24      AP  East Godavari   Sakhinetipalle     Sakhinetipalli  16.367222
25      AP  East Godavari       Peddapuram         Peddapuram  17.075000
26      AP  East Godavari       Peddapuram         Peddapuram  17.075000
27      AP  East Godavari   Rajahmundry(u)          Korukonda  17.058056
28      AP  East Godavari   Rajahmundry(u)          Korukonda  17.058056
29      AP  East Godavari   Sakhinetipalle     Sakhinetipalli  16.367222
...    ...            ...              ...                ...        ...
1843    AP      Anantapur        Kamareddy           Kambadur  14.362500
1844    AP      Anantapur           Pitlam        Dharmavaram  14.411667
1845    AP      Anantapur        Lingampet      Kanaganapalle  14.443056
1846    AP      Anantapur      Nizam Sagar             Settur  14.425000
1847    AP      Anantapur       Yellareddy       Battalapalle  14.515278
1848    AP      Anantapur        Sirikonda           Yellanur  14.700000
1849    AP      Anantapur       Choutpally          Beluguppa  14.704444
1850    AP      Anantapur       Yellereddy  Bukkarayasamudram  14.691667
1851    AP      Anantapur            Varni          Penukonda  14.166667
1852    AP      Anantapur            Gooty              Gooty  15.108333
1853    AP      Anantapur            Gooty              Gooty  15.116667
1854    AP      Anantapur            Gooty              Gooty  15.166667
1855    AP      Anantapur         Guntakal           Guntakal  15.158333
1856    AP      Anantapur         Guntakal           Guntakal  15.166667
1857    AP      Anantapur         Guntakal           Guntakal  15.168056
1858    AP      Anantapur       Dhar Palle   Nambulipulakunta  14.079167
1859    AP      Anantapur       Dich Palle              Gooty  14.126389
1860    AP      Anantapur            Varni          Penukonda  14.072222
1861    AP      Anantapur            Varni          Penukonda  14.083333
1862    AP      Anantapur           Velpur         Madakasira  14.000000
1863    AP      Anantapur         Sirkonda             Kadiri  14.191667
1864    AP      Anantapur           Madnur          Nallamada  14.141667
1865    AP      Anantapur           Madnur          Nallamada  14.166667
1866    AP      Anantapur           Madnur          Nallamada  14.216667
1867    AP      Anantapur          Birkoor       Kothacheruvu  14.186667
1868    AP      Anantapur          Birkoor       Kothacheruvu  14.191667
1869    AP      Anantapur          Navipet              Rolla  13.850000
1870    AP      Anantapur          Navipet              Rolla  13.883333
1871    AP      Anantapur     Kammar Palle          Tanakallu  13.919444
1872    AP      Anantapur            Armur             Parigi  13.891667

            LON                   SITE_NAME  SITE_TYPE  WLCODE  YEAR_OBS  \
0     81.966667                   Anaparthy   Dug Well  W25335      2018
1     81.673889             Selkavedhi-DW14   Dug Well  W25554      2018
2     82.331667                 Jaldam-DW14   Dug Well  W25548      2018
3     82.331667                 Jaldam-DW14   Dug Well  W25548      2018
4     82.368056           Rowthulapudi DW13   Dug Well  W25524      2018
5     82.368056           Rowthulapudi DW13   Dug Well  W25524      2018
6     81.915278                 Gangavaram1   Dug Well  W25528      2018
7     81.915278                 Gangavaram1   Dug Well  W25528      2018
8     81.930278                 Jaderu-DW14   Dug Well  W25584      2018
9     82.195556                Lagarai-DW14   Dug Well  W25602      2018
10    82.075278        Veerbhadrapuram-DW13   Dug Well  W25545      2018
11    82.075278        Veerbhadrapuram-DW13   Dug Well  W25545      2018
12    82.014722     Mallavaram Mammilu-DW14   Dug Well  W25574      2018
13    82.014722     Mallavaram Mammilu-DW14   Dug Well  W25574      2018
14    81.985556         Chaviti Tibalu-DW14   Dug Well  W25613      2018
15    81.951111           P Yerragonda-DW14   Dug Well  W25621      2018
16    81.951111           P Yerragonda-DW14   Dug Well  W25621      2018
17    82.195556                Lagarai-DW14   Dug Well  W25602      2018
18    82.268611          Badadanapalli-DW14   Dug Well  W25605      2018
19    81.985556         Chaviti Tibalu-DW14   Dug Well  W25613      2018
20    82.164444                 Samalkot-DW   Dug Well  W25375      2018
21    82.164444                 Samalkot-DW   Dug Well  W25375      2018
22    82.025000             Kotapadu 2013DW   Dug Well  W25388      2018
23    82.025000             Kotapadu 2013DW   Dug Well  W25388      2018
24    81.733333            Antarvedi 2013DW   Dug Well  W25105      2018
25    82.138889             Peddapuram -PZ2  Tube Well  W25383      2018
26    82.138889             Peddapuram -PZ2  Tube Well  W25383      2018
27    81.804444  Rajmundry Main road 2013DW   Dug Well  W25379      2018
28    81.804444  Rajmundry Main road 2013DW   Dug Well  W25379      2018
29    81.733333            Antarvedi 2013DW   Dug Well  W25105      2018
...         ...                         ...        ...     ...       ...
1843  77.225000                   Andepalli   Dug Well  W03814      1996
1844  77.720000                 Dharmavaram   Dug Well  W03986      1996
1845  77.525000             Kanaganapally-1  Bore Well  W04195      1996
1846  76.975000                      Settur  Bore Well  W04568      1996
1847  77.769444                Bathalapalli  Bore Well  W03890      1996
1848  78.072222                    Yellanur  Bore Well  W04575      1996
1849  77.056389                 Gundlapally   Dug Well  W04179      1996
1850  77.658333                 Rekulakunta  Bore Well  W04599      1996
1851  77.626389             Chinnakottapali   Dug Well  W03987      1996
1852  77.625000                      Gooty1  Bore Well  W04187      1996
1853  77.643056                   Gooty-alt   Dug Well  W04188      1996
1854  77.595833             Basinepally(bh)  Bore Well  W03885      1996
1855  77.511667             Patakothacheruv   Dug Well  W04554      1996
1856  77.366667                  Guntakal-2  Bore Well  W04190      1996
1857  77.376389                  Guntakal-1   Dug Well  W04189      1996
1858  78.355556                   D.cheruvu   Dug Well  W03982      1996
1859  76.977778                  Amarapuram  Bore Well  W03813      1996
1860  77.581667                 Penukonda-1   Dug Well  W04590      1996
1861  77.588889                 Penukonda-2  Bore Well  W04591      1996
1862  77.266667                Amudalagunda   Dug Well  W03818      1996
1863  78.163889                     Alampur   Dug Well  W04135      1996
1864  77.983333                   Nallamada   Dug Well  W04560      1996
1865  78.000000             Obuldevarachrvu   Dug Well  W04561      1996
1866  78.000000                  Reddipalli   Dug Well  W04562      1996
1867  77.766667              Kottacheruvu-3   Dug Well  W04178      1996
1868  77.775000              Kothacheruvu-1  Bore Well  W04177      1996
1869  77.100000                       Rolla   Dug Well  W04566      1996
1870  77.133333                  Kothapalem   Dug Well  W04196      1996
1871  78.198611                   Tanakallu  Bore Well  W04558      1996
1872  77.461667                       Pargi   Dug Well  W04545      1996

     MONSOON  POMRB  POMKH PREMON
0         '0     '0     '0   2.98
1         '0     '0     '0  10.25
2         '0   5.15     '0     '0
3         '0     '0     '0    3.5
4         '0   3.62     '0     '0
5         '0     '0     '0    7.6
6         '0   5.29     '0     '0
7         '0     '0     '0   5.95
8         '0     '0     '0   4.85
9         '0   2.57     '0     '0
10        '0    3.6     '0     '0
11        '0     '0     '0   5.15
12        '0   6.46     '0     '0
13        '0     '0     '0    8.3
14        '0   3.98     '0     '0
15        '0   3.77     '0     '0
16        '0     '0     '0   2.96
17        '0     '0     '0   5.54
18        '0     '0     '0   5.35
19        '0     '0     '0   3.15
20        '0    2.4     '0     '0
21        '0     '0     '0    4.1
22        '0   2.37     '0     '0
23        '0     '0     '0   3.45
24        '0   1.91     '0     '0
25        '0  17.07     '0     '0
26        '0     '0     '0   84.4
27        '0   1.95     '0     '0
28        '0     '0     '0   2.96
29        '0     '0     '0   2.15
...      ...    ...    ...    ...
1843    9.23   9.69   7.29     '0
1844      '0   6.93   1.99     '0
1845   14.14   13.5   9.25  14.97
1846   12.24  12.77   3.25  15.26
1847   12.87  12.22    7.1  13.65
1848     4.6   6.23     '0   9.18
1849    4.79    5.8   2.02     '0
1850    10.8   9.75   7.62   11.9
1851    6.45    7.3   4.52   8.17
1852   12.42   12.1   1.74   13.5
1853   11.13  12.81   1.52  15.45
1854      '0   2.08     '0     '0
1855    6.79   5.39   2.89   7.09
1856   12.45   14.3   6.72   15.8
1857     5.9   5.67   3.75   8.42
1858    3.25   5.96   1.57     '0
1859   21.45  20.51  17.92   23.9
1860   13.53  11.53  10.19  14.69
1861   16.65  13.91  13.32  16.63
1862      '0     '0   9.88     '0
1863     .27    .59    .83   3.57
1864    4.58   3.21   4.07     '0
1865    1.64   4.42      1     '0
1866    4.94   2.66   1.42   6.66
1867    8.59  11.32   2.88     '0
1868    7.04   9.75   1.47  12.02
1869    7.18   9.47    4.5   9.68
1870    3.29   4.18   1.63   7.75
1871    9.83  15.94    2.4  18.18
1872    6.93   9.57   4.57   9.88

[357880 rows x 14 columns]>

In [38]:
#export to csv
#df.to_csv( "combined_csv.csv", index=False, encoding='utf-8-sig')

In [23]:
df=pd.read_csv("CombinedData.csv")

In [25]:
#df.columns=df.columns.str.strip() #to remove white space in columns
#df=df.sort_values(by=['YEAR_OBS','STATE', 'DISTRICT', 'WLCODE'], axis=0)

In [26]:
df.head()

,STATE,DISTRICT,TEH_NAME,BLOCK_NAME,LAT,LON,SITE_NAME,SITE_TYPE,WLCODE,YEAR_OBS,MONSOON,POMRB,POMKH,PREMON
0,HR,Mahendragarh,Behror,Ateli,28.062500,76.250000,Kanhawas,Tube Well,W13605,1994,29.97,'0,29.23,'0
1,JK,Data Not Available,Akhnoor,Akhnoor,32.850000,74.454167,Palanwala,Dug Well,W01683,1994,1.17,1.35,1.52,'0
2,JK,Jammu,Akhnoor,Akhnoor,32.805556,74.562500,Bakore,Dug Well,W01674,1994,2.73,4.17,3.76,'0
3,JK,Jammu,Akhnoor,Akhnoor,32.855556,74.658333,Devipura,Dug Well,W01676,1994,3.32,6.26,5.3,'0
4,JK,Jammu,Akhnoor,Akhnoor,32.806944,74.541111,Dhanpur,Dug Well,W01677,1994,2.49,4.49,3.68,'0

In [20]:
#df.to_csv("CombinedData.csv", index=False, encoding='utf-8-sig')